<h1>Our Vision</h1>

<p>To promote global understanding and world peace by providing families and youngsters from across the globe with the best intercultural experience friendship can buy.</p>

<h2>Overseas Representation</h2>

<p>FLAG is represented internationally by authorized agents who are responsible for promoting the FLAG program overseas, for the recruitment and pre-departure orientation of all program participants, and for providing assistance to the natural parents of the program participants during their exchange experience.</p>

<h2>U.S Representation</h2>

<p>In the U.S., FLAG is locally represented in a number of states by a network of authorized Field Coordinators. Our Field FilteredCoordinators (mostly former FLAG host families) are reliable and experienced individuals who are trained to screen, recruit and personally interview U.S. host families and outbound American exchange students. They are also responsible for providing local assistance to FLAG's inbound students,U.S. host families, and high schools during their intercultural experience.</p>


<h2>Statistics</h2>

	<ul>Countries Served: 	
		<li>28</li>
	</ul>

<ul>Participants: 	
		<li>2011/2012: 212 J1 students</li>
		<li>Beyond F1: Participants limited to 100 per year.</li>
		<li>English Immersion & Global Leadership Camps: 200+, space permitting, per site.</li>
</ul>

<h2>Credentials</h2>

	<ul>
	    <li>Not-for-Profit Tax Exempt Organization</li>
	    <li>Established in 1989</li>
	    <li>Granted Official Sponsor Designation by the U.S. Dept. of State in 1990</li>
	    <li>Accepted for Listing in C.S.I.E.T.'s 2012-13 Advisory List</li>
	</ul>

