<div id="home_content">
	<%= image_tag "homepage.png" %>
	
	<%= link_to content_tag(:li, "", class: "sign_in_from_home_page"), new_user_path, remote: true %>
	<div class="sign_up_form_container"></div>
	
	
</div>
