<div id="home_content">
	<h1>Welcome to FLAG!</h1>

	<p><%= image_tag "students.png", size:"600x670", class:"right students" %> FLAG is a Michigan based non-profit organization that promotes and supports global understanding through international educational travel. Our programs are designed to develop personal growth, interpersonal communication skills, intercultural awareness, and academic advancement.
	</p>

	<h2>About the Grants Program</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aliquam dolorem odio repudiandae corporis nostrum dicta illum fugiat dolor pariatur porro architecto quas quidem. Quaerat quibusdam ullam numquam facilis animi et hic atque magnam omnis nihil expedita modi id? Molestiae delectus quaerat laboriosam voluptate doloremque reprehenderit saepe ab et velit libero asperiores eum ducimus repudiandae minus nemo adipisci error odio quas unde non magni fuga autem repellendus neque obcaecati vero nesciunt earum? Quod recusandae neque voluptatum nulla ratione. Illo repudiandae recusandae cupiditate sit magnam molestiae ipsam delectus doloribus quibusdam ab rem consequatur eos cum laudantium architecto sequi corrupti ad debitis sed esse itaque corporis dicta placeat a nam autem quae illum facere alias quisquam atque necessitatibus nemo quidem error reprehenderit dolorum explicabo ratione praesentium eaque aliquid. Ipsam harum excepturi distinctio velit molestiae assumenda minima vero placeat porro consequuntur dolore obcaecati ratione quod! Ab possimus odio voluptatem beatae quod quaerat earum commodi temporibus dignissimos cumque? A suscipit qui eum repudiandae fugit porro dolores velit. Reprehenderit tempore debitis enim voluptates obcaecati quisquam incidunt autem delectus exercitationem placeat eius unde aliquam et voluptatibus perspiciatis consequatur nesciunt vero magni minima aperiam pariatur voluptatem rem magnam voluptatum corporis tempora consectetur neque eum repellendus error assumenda.
	</p>
	
	

</div>
