$("#mailer_form").remove()
$("#lightbox").remove()
$(".users_coordinators").append("<div id='lightbox'></div>")
$("#lightbox").append("<div id='mailer_form'></div>")

$("#mailer_form").html("<%= j render 'messages/form' %>")
