$("#mailer_form").remove()
$("#lightbox").remove()
$(".master_container")
	.prepend("<div id='mailer_form'></div>")
	.append("<div id='lightbox'></div>")

$("#mailer_form").html("<%= j render 'messages/form' %>")
