<h2>All announcements posted</h2>

<ul id="announcement_index">
<% @announcements.each do |a| %>
	<%= content_tag_for(:li, a) do %>
		<%=  a.message %>
		<%= link_to "edit", edit_announcement_path(a) %>
		<%= link_to image_tag("delete.png", width: 15, height: 15), a, :method => :delete, class: "scrap_image_X", remote: true %>
	<% end %>
<% end %>
</ul>