<!--LOGIN -->
<div class="login_form"> <br />
	<%= render 'shared/flash_messages' if !flash.empty? %>
  <h1 class="login_title">Log In</h1>

  <%= form_tag sessions_path do %>
    <%= render 'authentication' %>
  <% end %>
</div>
