
<li class="cp day_gallery" data-purpose="<%= Arrays::CP_MESSAGE['day_present'] %>"></li>

<%= render('scrapbooks/shared/links/check_if_in_week', image: image) %>
<%= render('scrapbooks/shared/links/check_if_in_month', image: image) %>
<%= render('scrapbooks/shared/links/check_if_in_year', image: image) %>

