<li class="cp" data-purpose="<%= Arrays::CP_MESSAGE['day_present'] %>"><span class="included">D</span></li>
<%= render('scrapbooks/shared/links/check_if_in_week', image: image) %>
<%= render('scrapbooks/shared/links/check_if_in_month', image: image) %>
<%= render('scrapbooks/shared/links/check_if_in_year', image: image) %>

