<!-- Determines the next time period. ie. if on day page, then will create: "Go to Week" link in menu -->

<%= link_to content_tag(:div, go_to_text("up"), class: "nav_up absolute_withZ"), go_to_up_link(@user)+up_link_params, remote: true %>
<%= link_to content_tag(:div, go_to_text("down"), class: "nav_down"), return_to_previous_page(@user), remote: true unless page == "day" %>

<div class="nav_arrows">
	<div class="prev prev-next direction absolute_withZ">
	    <%= link_to content_tag(:div,"<", class: "prev_btn"), go_to_date_link(@user)+prev_link_params, remote: true %>
	</div>
	<div class="next prev-next direction absolute_withZ">
	    <%= link_to content_tag(:div,">", class: "next_btn"), go_to_date_link(@user)+next_link_params, remote: true %>
	</div>
</div>