
<ul class="model_table">
	<li>
		<ul class="instance_detail">
			<%= content_tag :li, @program.name, class:"name" %><br />
			<%= content_tag :div, raw(@program.body), class: "view_all" %>
			<%= render 'shared/crud_btns', object: @program %>
		</ul>
		<br class="clear">
	</li>
	<br />

	<%= content_tag :li, link_to('View All programs', programs_path) %>
</ul>


