<h1>Sign Up </h1> 

<%= form_for @user, :validate => true do |f| %>
	<%= render 'shared/errors', :object => f.object  %>
	
	<%= render 'users/authentication', f: f %>
	<div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>