<div id="home_images">
	<% for image in @user.images %>
		<div class="image">
			<%= image_tag image.image_url(:thumb).to_s, width: 75, height: 75 %>
			<div class="name"><%= image.title %></div>
			<div class="actions">
				<%= link_to "Edit", [:edit, @user, image] %>
				<%= link_to "Delete", [@user, image ], :confirm => 'Are you sure?', :method => :delete %>
			</div>
		</div>
	<% end %>
	<div class="clear"></div>
</div>