<div id="journals">
	<% for journal in @user.journals %>
		<div class="journal">
			
						<div class="actions">
				<%= link_to "Edit", [:edit, @user, journal] %>
				<%= link_to "Delete", [@user, journal ], :confirm => 'Are you sure?', :method => :delete %>
			</div>
		</div>
	<% end %>
	<div class="clear"></div>
</div>