<h1>Community</h1>  
<%= render 'shared/sidebar' %>
<div class="flag_feed">
    <div class="col_one columns">
        <%= render @column_one_images %>
    </div>

    <div class="col_two columns">
        <%= render @column_two_images %>
    </div>

    <div class="col_three columns">
        <%= render @column_three_images %>
    </div>
    <br class="clear"/>
</div>