<h1><%= @user.email %></h1>


<ul class="nav pull-right">
<% if current_user %>
  
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Add a photo<strong class="caret"></strong></a>
    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
      	<%= render 'images/form' %>
	</div>
  </li>	  	  
<% end %>
</ul>
	        
<%= render 'users/user_images' %>

