

<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Add a photo<strong class="caret"></strong></a>
    <div class="dropdown-menu image_form">
    	<%= render 'images/form' %>
	</div>
  </li>

<!--  Render Max 5 images for User   -->  
<div class="images">
	<ul>
	<%= @lists = @user.images.select('date_taken').group('date_taken') %>
	
	<% start_range = Time.now.midnight - 1.day %>
	<% end_range = Time.now.midnight %>
	<% @today = @user.images.where(date_taken: (start_range..end_range)).limit(5) %>		
	<% for image in @today %>
		<li> 
			<%= image_tag image.image_url, width: 175, height: 175 %>				
			<div class="actions">					
			<%= link_to image_tag("delete.png", width: 15, height: 15), [@user, image ], :confirm => 'Are you sure?', :method => :delete, class: "scrap_image_X" %>
		
			</div>
		</li>
	<% end %>
	</ul>
</div>
