<!-- click on journal_btn and journal form shows in journal container -->
 
<div id="photo_form"></div>
	<%= image_tag "upload_image.png", class: "photo_btn cont_btn_style", width: "35px", height: "35px", :"data-date" => @beg_range %>

<div id="journal_form"></div>
	<% unless @journal.any? %> 	
		<%= image_tag "journal_entry.png", class: "journal_btn cont_btn_style", width: "35px", height: "35px", :"data-date" => @beg_range, :"data-range" => get_range(@user), :"data-root" => root_path %>
	<% end %>

<!-- journal_container -->
<div id="journal_container">
	<%= render('shared/journal_container') %>
</div>