
<!-- Add a photo dropdown -->
<li class="drop-image outside_add hot_form image_outside">
	<a class="" href="#" >Add a photo<strong class="caret"></strong></a>
</li>
<li class="drop-journal outside_add hot_form journal_outside">
	<a class="" href="#" >Journal Entry<strong class="caret"></strong></a>
</li>
<div class="image_form hide form_style">
	<%= render 'images/form' %>
</div>
<div class="journal_form hide form_style">
	<%= render 'journals/form' %>
</div>

<!-- this is a testing area to make sure variable are rendering correctly -->



 
<!-- End photo dropdown -->