
<ul class="model_table">
	<li>
		<ul class="instance_detail">
			<%= content_tag :li, @role.name, class:"name" %><br />
			<%= content_tag :div, raw(@role.description), class: "view_all" %>
			<%= render 'shared/crud_btns', object: @role %>
		</ul>
		<br class="clear">
	</li>
	<br />

	<%= content_tag :li, link_to('View All Roles', roles_path) %>
</ul>


