<% if f.member_photo.blank? %> 
	<%= link_to image_tag("blank.jpg", size: "50x50", class: "profile_image"), user_path(f)  %>

<% else %>
	<%= link_to image_tag(profile_pic_if_uploaded(f), size: "50x50", class: "profile_image"), user_path(f)  %>
<% end %>
	<div class="member_info">
		<%= f.fullname %>
		<%= f.school %>
	</div>
