/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.master_container {
	clear:both;
	margin-top:50px;
}

.images {
		margin:auto;
		width:950px;
		min-height:250px;
		height:auto;				
		margin-top:50px;
		position: absolute;
		padding:10px;
	}
	
	.images li {
		float:left;
		list-style:none;
		margin-left:10px;
		width:175px;
		height:175px;		
	}
	
	.images li img{
		width:175px;
		height:175px;
	}
	
	ul li .actions {
		display:none;
	}
	
	.actions a.scrap_image_X img{
		margin: 10px 71px;
		width: 25px;		
		height: 25px;		
	}
	
	.actions a.scrap_image_X:hover{
		background: transparent;
		
	}
	
	.image_form {
		width:225px;
		position: absolute;
		z-index:100;
		background:gray;
		margin-left:100px;
		padding:20px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}	