// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clear {
	clear:both;
}
.master_container {
	clear:both;
	margin-top:50px;
}

.day_container {
	height:275px; 
	width:auto; 
	padding: 10px;
	
	.day_container h2 {
		font-size:18px;
		color:#3b5998;
		width:160px;
		text-align: center;
		margin:auto;
	}

	.images_container {
		
		width:600px;
		min-height:400px;
		height:auto;				
		margin-top:50px;	
		padding:10px;
		float:left;
		
		li {
			float:left;
			list-style:none;
			margin-left:10px;
			
			.image_container {
				width:175px;
				min-height:325px;
				box-shadow:1px 1px 5px;
				-moz-box-shadow: 1px 1px 5px;
				-webkit-box-shadow: 1px 1px 5px;
				padding:10px;
				height:auto;
			
				img{
					width:175px;
					height:175px;
				}
				h3{
					font-size:16px;
					color:gray;
					width:150px;
					text-align: center;
					margin:auto;
				}
			
				 p.image_content {
					margin:auto;
					padding:10px;
				}
			
				
			
				.actions a.scrap_image_X{
					display:none;
					
					img{
						margin: 10px 71px;
						width: 25px;		
						height: 25px;		
					}

				}
			
							
				.actions a.scrap_image_X:hover{
					background: transparent;
					
				}
							
			}	// image_container
			
		}	// li
		
	}  // images_container
	
	.journal_container {
		width:250px;
		min-height:400px;
		height:auto;				
		margin-top:50px;	
		padding:10px;
		float:left;
		
		p {
			padding:10px;
			color:gray;
		}
	}
	
}	// day_container

.image_form {
	width:225px;
	position: absolute;
	z-index:100;
	background:gray;
	margin-left:100px;
	padding:20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

// bottom days menu bar  //
ul.dom_container {
	min-width: 100px;
	margin: auto;
	width: auto;
	clear: both;
	bottom: 30px;
	position:fixed;
	height: 34px;
	padding: 10px 0px;		

	a li.days_of_month {
		box-shadow:0px 0px 5px;
		-moz-box-shadow: 0px 0px 5px;
		-webkit-box-shadow: 0px 0px 5px;
		padding:5px;
		width:45px;
		float:left;
		list-style: none;
		margin-left:10px;
		text-align: center;	
	}

	a:hover li.days_of_month {
		color:#fff;
		background:gray;	
	}
	
	a li.include {
		background:blue;
	}
}