// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide {
	
	display:none;
}

.clear {
	clear:both;
}

.test_container	{
	float: left;
position: absolute;
margin-top: -45px;
margin-left: -55px;
background:#C3E4F3;
border-radius:5px;
webkit-border-radius:5px;
moz-border-radius:5px;
text-align:center;
padding:5px;
}
.master_container {
	margin:auto;
	width:1000px;
	min-height: 500px;
	height: auto;
	padding-bottom: 20px;

	h1 {
		font-size: 38.5px;
		margin: auto;
		width: 300px;
		text-align: center;
	}
}


.drop-image {
	position:absolute;
	float:left;
	margin-left:111px;
	margin-top:-75px;

}


.image_outside {
	margin-left: 146px;
	margin-top: -15px;
}

.drop-journal {
	position:absolute;
	float:left;
	margin-left:735px;
	margin-top:-75px;
	width:100px;
}
.journal_outside {
	margin-left: 770px;
	margin-top:-15px;
}


.header_container {
	width: 100%;
	height: 60px;	
}

.thousand_wide_container {
	width: 1000px;
	margin:auto;	
}	

.auth-form {
	margin-top: 35px;
	margin-left: -128px;
	width:230px;
}

.image_form {
	margin-top: 0px;
	margin-left: 500px;
	width:230px;
}

.journal_form {
	margin-top: 0px;
	margin-left: 790px;
	width:230px;
	position:absolute;
	padding: 15px 13px 5px 25px;
}

.form_style {
	border-radius: 5px;
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	border:1px solid black;
	background:#EBD6D6;
}

li.hot_form {
	list-style:none;

	a {
		color:#3b5998;

		&:hover {
			background:transparent;
		}
	}
}


.gradient_gray {
		background: #eaeaea; /* Old browsers */
		background: -moz-linear-gradient(top,  #eaeaea 0%, #d8d8d8 40%, #c9c9c9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(40%,#d8d8d8), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #eaeaea 0%,#d8d8d8 40%,#c9c9c9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #eaeaea 0%,#d8d8d8 40%,#c9c9c9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #eaeaea 0%,#d8d8d8 40%,#c9c9c9 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #eaeaea 0%,#d8d8d8 40%,#c9c9c9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */
	}

.nav_items {
	float:left;
	margin-top:15px;
}

.pull_left {
	width:200px;
}

.nav_content {
	text-align: center;

	li {
		list-style: none;
	}
}

.brand {
	width:150px;
	margin:auto;
}

.pull_center {
	margin: auto;
	width: 500px;
	padding: 15px 0px;
}

.nav {
	margin:auto;
	width:auto;
}
.pull_right {
	
	width:200px;
}

.thousand_wide_container ul li {
	float: left;
	width:100px;
	text-align: center;

	a {
		&:hover {
			background:transparent;
		}
	}
}

#home_images {
	margin-left:20px;
}

.month-of-year {
	
}

.current_month {
	display:block;
}

.month-of-year {
	height:400px;
}



.scrapbook {
		
	font-size:25px;
	color:#3b5998;
	width:200px;
	text-align: center;
	position:absolute;
	margin-left:365px;
	top:-45px;
}

.day_container {
	min-height:540px; 
	height:auto;
	width:auto; 
	padding: 10px;
	position:absolute;
	margin-top:50px;
	
	

	.photos_container {
		
		width:600px;
		min-height:400px;
		height:auto;				
		margin-top:50px;	
		padding:10px;
		float:left;
		padding-bottom:100px;
		
		li {
			float:left;
			list-style:none;
			margin-left:10px;
			
			.image_container {
				width:175px;
				min-height:325px;
				box-shadow:1px 1px 5px;
				-moz-box-shadow: 1px 1px 5px;
				-webkit-box-shadow: 1px 1px 5px;
				padding:10px;
				height:auto;
			
				img{
					width:175px;
					height:175px;
				}
				h3{
					font-size:16px;
					color:gray;
					width:150px;
					text-align: center;
					margin:auto;
				}
			
				 p.image_content {
					margin:auto;
					padding:10px;
				}
			
				
			
				.actions {
					display:none;
					a.image_X img{
						margin: 10px 71px;
						width: 25px;		
						height: 25px;		
						
					}

				}
			
							
				.actions a.scrap_image_X:hover{
					background: transparent;
					
				}
							
			}	// image_container
			
		}	// li
		
	}  // images_container
	
	.journal_container {
		width:250px;
		min-height:400px;
		height:auto;				
		margin-top:50px;	
		padding:10px;
		float:left;
		
		p {
			padding:10px;
			color:gray;
		}
	}
	
}	// day_container

.prev-next{
	font-size:50px;
	position:absolute;
	cursor:pointer;
	padding: 5px;
	height: 45px;
	float:left;
	margin-top:23px;

	&:hover {
		background:transparent;
		color:#3b5998;
		text-decoration: none;
	}
}

.prev {
	margin-left:-50px;
}

.next {
	margin-left:1000px;
}

// bottom days menu bar  //
ul.dom_container {
	min-width: 100px;
	margin-left: 7px;
	width: 980px;
	clear: both;
	position: fixed;
	height: 34px;
	bottom: 53px;
	padding: 10px 0px;

	a li.days_of_month {
		box-shadow:0px 0px 5px;
		-moz-box-shadow: 0px 0px 5px;
		-webkit-box-shadow: 0px 0px 5px;
		padding:5px;
		width:45px;
		float:left;
		list-style: none;
		margin-left:10px;
		text-align: center;	
	}

	a:hover li.days_of_month {
		color:#fff;
		background:gray;	
	}
	
	a li.include {
		background:blue;
	}
}