
// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$theme_color: rgb(159,21,15);

// core classes to be used everywhere //
.hide {
	
	display:none;
}
 
.clear {
	clear:both;
}

.separator_box {
	height:100px;
	width:1000px;
	clear:both;
}

.thousand_wide_container {
	width: 1000px;
	margin:auto;	
}

.absolute_withZ {
	position: absolute;
	float: left;
	z-index: 100;
}

.close_form {
	float:right;
	padding-right:5px;
	margin-top:-3px;
	z-index:100;

	&:hover {
		background:blue;
	}
}

.flag_header_logo {
	margin-left: -64px;
margin-top: 2px;
float: left;
background: url("logo.png") 50% 106% no-repeat;
position: absolute;
z-index: 9000;
width: 130px;
height: 151px;
	img {

	}
}

#home_content {
	width:1000px;
	height:auto;
	img {
		padding:0px;
		margin-left:-100px;
	}
}

.sign_in_from_home_page {
	background: url("sign-in.png") -5px -5px no-repeat;
	width: 370px;
	height: 131px;
	position: absolute;
	margin-left: 90px;
	top: 1554px;
}

.sign_in_from_home_page:hover {
	background: url("sign-in.png") -5px -164px no-repeat;
}

.sign_in_from_home_page:active {
	background: url("sign-in.png") -5px -331px no-repeat;
}


.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 10px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}


// testing //
.test_container	{
	float: left;
position: absolute;
margin-top: 75px;
margin-left: 400px;
background: #C3E4F3;
border-radius: 5px;
webkit-border-radius: 5px;
moz-border-radius: 5px;
text-align: center;
padding: 5px;
}


// header //
.header_container {
	width: 100%;
	height: 50px;
	background: $theme_color;
	position: absolute;
	z-index: 100;
	-moz-box-shadow:    0px 0px 15px #000;
	-webkit-box-shadow: 0px 0px 15px #000;
	box-shadow:         0px 0px 15px #000;

	.thousand_wide_container {
		background:155, 0, 14;
		height:50px;
		width:1000px;
	 	//background:gray;	 
	}
}

ul.nav_bar {

	a li {
		list-style: none;
		color: black;
		text-align: center;
		font-size: 17px;
		text-decoration: none;
		float:left;
		padding-top:10px;
	}

	a:hover li {
		color:#fff;
	}
			
}

ul.left_side {
	position:absolute;
	margin-left:5px;
	width:175px;
}
ul.middle {
	position:absolute;
	margin-left:210px;
	width:600px;
	padding:0px;
	a li {
		width:200px;
			
	}
}

ul.right_side {
	position:absolute;
	margin-left:800px;
	width:175px;
	a li {
		width: 80px;
		margin-left: 5px;
		float: left;
	}

	li {
		list-style: none;
		width:80px;
		margin-left:5px;
		float:left;
	}
}

// authentication
ul.nav_authentication {
  	width: 0px;
	float: left;
	padding: 8px 0px;

   	a li {
	  width: 60px;
	  float:left;
	  list-style: none;
	  color:black;
	}

	a:hover li {
		color:#fff;
	}

	li:first-child {
		width:180px;
		list-style: none;
		float:left;
	}
}

 
.announcement {
	width:1000px;
	margin:auto;
	background: gray;
	color:#fff;
	text-align:center;
	padding:5px;

	a {
		text-decoration: none;
		&:hover {
			background:inherit;
			text-decoration: underline;
		}

	}
}


// Start in application layouts, hold all yield //
.master_container {
	margin:auto;
	background:url("background.jpg") 50% 5% no-repeat;;
	width:1000px; 
	min-height:668px;
	padding-bottom: 20px;
	padding-top:10px;
	-moz-box-shadow:    0px 0px 25px 2px #000;
	-webkit-box-shadow: 0px 0px 25px 2px #000;
	box-shadow:         0px 0px 25px 2px #000;
	margin-bottom:35px;

	h1 {
		font-size: 38.5px;
margin: auto;
width: 300px;
text-align: center;
margin-top: 10px;
padding-top: 15px;
padding-bottom: 20px;
	}
}

.notice {
	width:200px;
	height:50px;
	color:red;
	font-size:18px;
	margin-top:50px;
	margin-left:50px;
	position:absolute;	
	border-radius: 4px;
	webkit-border-radius: 4px;
	moz-border-radius: 4px;
	display:none;
}
// navigation buttons: Go To, Back, Prev, Next  //

// Go to { time frame } [Week, Month, Year]
ul.triangle {
	height: 83px;
position: absolute;
width: 118px;
margin-left: 447px;
top: -13px;
padding: 0px;
z-index: 600;

	li {
		list-style: none;
		padding: 0px;
		margin:0px;
		a {
			cursor:pointer;
			display: block;
		}
	}

	li:nth-child(1) {
		a {
			height: 25px;
		}
		
		a.on_year_frame {
			background: url("triangle.png") no-repeat 9% -388px;
		}
		a.off_frame {
			background: url("triangle.png") no-repeat 7% -11px;
		}	

		a.off_frame:hover {
			background: url("triangle.png") no-repeat 9% -388px;
		}

		a.off_frame:active {
			background: url("triangle.png") no-repeat 9% -155px;
		}

		a.off_frame:active, a.on_year_frame:active {
			background: url("triangle.png") no-repeat -174px -388px;
		}
		
	}

	li:nth-child(2) {
		a {
			height: 16px;
		}
		
		a.on_month_frame {
			background: url("triangle.png") no-repeat 9% -282px;
		}
		
		a.off_frame {
			background: url("triangle.png") no-repeat 7% -36px;
		}
		a.off_frame:hover {
			background: url("triangle.png") no-repeat 9% -282px;
		}

		a.off_frame:active, a.on_month_frame:active {
			background: url("triangle.png") no-repeat -174px -282px;
		}
	}

	li:nth-child(3) {
		a {
			height: 17px;
		}
		
		a.on_week_frame {
			background: url("triangle.png") no-repeat 7% -175px;
		}
		a.off_frame {
			background: url("triangle.png") no-repeat 7% -52px;
		}


		a.off_frame:hover {
			background: url("triangle.png") no-repeat 7% -175px;
		}

		a.off_frame:active, a.on_week_frame:active {
			background: url("triangle.png") no-repeat -170px -175px;
		}
	}

	li:nth-child(4) {
		a {
			height: 23px;
		}
		a.on_day_frame{
			background: url("triangle.png") no-repeat 7% -69px;
		}
		a.off_frame {
			background: url("triangle.png") no-repeat 7% -192px;

		}

		a.off_frame:hover {
			background: url("triangle.png") no-repeat 7% -69px;
		}

		a.off_frame:active, a.on_day_frame:active {
			background: url("triangle.png") no-repeat -170px -69px;
		}
		
	}
}

.for_year_to_day {
	top: 0px;
}


// direction is on all buttons except (Go To Time) frame
.direction {
	
	text-align: center;
	height: 30px;
	background: inherit;
	font-size: 22px;
	padding: 8px 3px;
	
	border-radius: 15px;
	text-decoration:none;
	
	a {

		color:white;
		text-decoration: none;

		&:hover {
			color:white;
			background:none;
			text-decoration: underline;
		}
	}
}

.prev {
	background: url("tabs.png") no-repeat scroll -11px -10px transparent;
    height: 92px;
    margin-left: -41px;
    overflow: hidden;
    position: relative;
    top: 200px;
    width: 53px;

	&:hover {
		background: url("tabs.png") -182px -10px no-repeat;

	}

	div.nav_text {
		color: #000000;
    font-size: 16px;
    margin-left: -3px;
    margin-top: 38px;
	}
}

.next {
	
	background: url("tabs.png") no-repeat scroll -17px -125px transparent;
    height: 92px;
    margin-left: 984px;
    overflow: hidden;
    position: relative;
    top: 90px;
    width: 53px;

	&:hover {
		background: url("tabs.png") -188px -125px no-repeat;
	}

	div.nav_text {
		color: #000000;
    font-size: 16px;
    margin-left: -1px;
    margin-top: 36px;
	}
}




// Forms //

.required_


{
	margin-left:5px;
	color:#FF9494;
	display:inline-block;
}

.cont_btn_style {
	position:absolute;
	float:left;
	top: 40px;
	width:35px;
	cursor:pointer;
	z-index:100;
}

.photo_btn {
	background: url("icons.png") no-repeat -344px -21px;
position: absolute;
margin-left: 770px;
top: 0px;
width:52px;
height:42px;

}
.photo_btn:hover {
	background: url("icons.png") no-repeat -344px -102px;
}

.photo_btn:active {
	background: url("icons.png") no-repeat -344px -170px;
}

.journal_btn {
	width:30px;
	height:30px;
	position: absolute;
	margin-left: 697px;
	z-index:1;
	top: 122px;
	background: url("icons.png") no-repeat -130px -36px;
}

.journal_btn:hover {
	background: url("icons.png") no-repeat -130px -117px;
}

.journal_btn:active {
	background: url("icons.png") no-repeat -130px -185px;
}
	



#photo_form {
	display: none;
position: absolute;
background: #F0F1F1;
padding: 25px;
z-index: 600;
min-height: 200px;
min-width: 200px;
width:380px;
color: #369;
		border-radius: 15px;
		webkit-border-radius: 15px;
		moz-border-radius: 15px;
-moz-box-shadow:    2px 2px 2px #ccc;
-webkit-box-shadow: 2px 2px 2px #ccc;
box-shadow:         2px 2px 2px #ccc;
}

#edit_container {
	display: none;
position: absolute;
background: #F0F1F1;
padding: 25px;
z-index: 10000;
min-height: 200px;
min-width: 200px;
color: #369;
		border-radius: 15px;
		webkit-border-radius: 15px;
		moz-border-radius: 15px;
-moz-box-shadow:    2px 2px 2px #ccc;
-webkit-box-shadow: 2px 2px 2px #ccc;
box-shadow:         2px 2px 2px #ccc;
}


// styling for sign-up and sign-in forms
.home_forms {
	
	
	background: #F5ACAC;
	border-radius: 5px;
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #CCC;
	box-shadow: 0px 0px 5px #CCC;
	
	position: absolute;
	padding: 15px 5px 15px 25px;
}

// sign in
.auth-form {
    background: url("opacity.png") repeat scroll 0 0 transparent;
width: 400px;
height: auto;
position:absolute;
float:left;
margin-top: -56px;
margin-left:-275px;
}

.login_form {
	width:850px;
	margin:auto;

		.actions > input {
	   border-radius: 10px 10px 10px 10px;
	font-size: 20px;
	height: 50px;
	padding: 10px;
	width: 383px;
	clear: both;
	margin-top: 50px;
	margin-left: 215px;
	}
}

.sign-up-page-form {
	width:850px;
	margin:auto;

	.actions > input {
   		border-radius: 10px 10px 10px 10px;
		font-size: 20px;
		height: 50px;
		padding: 10px;
		width: 383px;
		clear: both;
		margin-top: 50px;
		margin-left: 215px;
	}
}

// sign_up
.sign-up-form {

   background: url("opacity.png") repeat scroll 0 0 transparent;
   height: 600px;
   margin-left: 513px;
   width: 400px;
   margin-top:-258px;



}


.forgot_password {
	float:right;
	color: #fff;
}

.edit_user .actions > input {
   border-radius: 10px 10px 10px 10px;
   font-size: 20px;
   height: 50px;
   padding: 10px;
   width: 383px;
}

// sign_up
.sign-up-form {
	background: url("opacity.png") repeat scroll 0 0 transparent;
width: 400px;
height: auto;
margin-left: 300px;
}

.image_form {
	margin-top: 75px;
	margin-left: 600px;
	width: 335px;
	padding: 0px 0px 0px 35px;
	position: absolute;
	float: left;
	z-index: 100;
	background:#EBD6D6;
	border:1px solid black;

	ul li {
		list-style: none;
		
	}

}
 
// in place editing for journal form

#journal_container .journal_container {
	width: 352px;
	height: 400px;
	top: 50px;
	padding: 10px;
	float: left;
	margin-left: 660px;
	position: absolute;
	background:url('/assets/journal.png') no-repeat;

	.journal_content {
		width:250px;
		margin-left:50px;
	}
	
}

h2.journal_date_range {
	margin-left: 10px;
	margin-top: 39px;
	color: $theme_color;
	font-size: 20px;
	
	text-align: center;
	width: 300px;
}

// journal new entry form  //
#journal_form {
	width: 250px;
height: 400px;
top: 120px;
padding: 10px;
float: left;
margin-left: 704px;
position: absolute;
border: 0px;
z-index: 100;
	.field {
		background:none;
	}

	form label {
		text-align: center;
		color:#000;
	}

	form .field input, form .field textarea {
		background:inherit;
		-moz-box-shadow:    0px 0px 5px #ccc;
		-webkit-box-shadow: 0px 0px 5px #ccc;
		box-shadow:         0px 0px 5px #ccc;
	}

	form .field textarea {
		width: 231px;
		height: 195px;
		border: none;
box-shadow: 1px 1px 5px gray
	}
}

.hint_msg {
	border:1px solid gray;
	padding:2px;
	color:gray;
	width:300px;
	height:300px;
	top:50px;
	margin-left:100px;
	background: #9c9c9c;
	display:none;

}
// hover over image, gray background, image pops out

img {
    border: none;
}
.thumbnail img {
    cursor: pointer;
}
#large {
    display: none;
    position: absolute;
    background: #FFFFFF;
    padding: 5px;
    z-index: 10;
    min-height: 200px;
    min-width: 200px;
    color: #336699;
}
#background{
    display: none;
    position: absolute;
    height: 725px;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 1;
}
// hover over image, action box pops up
.larger_images {
	
	background: white;
	z-index: 200;
	margin-left: 0px;
	width: inherit;
	-moz-box-shadow:    0px 0px 3px #ccc;
	-webkit-box-shadow: 0px 0px 3px #ccc;
	box-shadow:         0px 0px 3px #ccc;
	text-align: center;
}



// .gallery_msg {
// 	color: white;
// 	width: auto;
// 	clear: both;
// 	margin-left: 9px;
// 	margin-top: 5px;
// 	text-align: left;
// 	background:inherit;
		
// 	a {
// 		text-decoration: none;
// 		&:hover {
// 			text-decoration: underline;
// 		}
// 	}

// 	form {
// 		margin-left:-3px;

// 		input[type='checkbox']:hover {
// 			background:red;
// 		}
// 	}
// }
 

.smaller_images {
	
	background: white;
	
	z-index: 200;
	margin-left: 0px;
	width: inherit;
	-moz-box-shadow:    0px 0px 3px #ccc;
	-webkit-box-shadow: 0px 0px 3px #ccc;
	box-shadow:         0px 0px 3px #ccc;
	font-size: 10px;
	text-align: center;
}

.photos_container {
	display:inline-block;
	width: 785px;
	height: 500px;
	top: 70px;
	margin-top: 35px;

	// li
}  // images_container
	
// bottom dates menu bar (daily, weekly, monthly) //
// days //

.image_container {
	display:inline-block;
// 	padding: 2px;
// border: 2px solid gray;
}

.image_frame {
	padding: 2px;
border: 2px solid gray;
}

.resizable {
	border:2px solid gray;
} 

ul.image_description {
	height:auto;
	background: url("opacity.png") repeat;
	opacity:.75;
	position: absolute;
	z-index: 100;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left:10px;
	color:#fff;
	border: 2px solid #5F5A5A;
	font-size:13px;
	display:none;

	li {
		text-align: center;
		list-style: none;

	}

}

.helper_box {
	position:absolute;
	float:left;
	
	top:-30px;
	padding:5px;
	-moz-box-shadow:    0px 0px 5px $theme_color;
	-webkit-box-shadow: 0px 0px 5px $theme_color;
	box-shadow:         0px 0px 5px $theme_color;
	display:none;
	background:black;
	opacity:.75;
	color:#fff;
	text-align:center;
	width:230px;
}

ul.control_panel {

	height: auto;
	background: url("opacity.png") repeat ;
	opacity:.75;
	position: absolute;
	z-index: 100;
	padding: 5px 0px 5px 0px;
	margin-top: 0px;
	border: 2px solid #5F5A5A;
	font-size:12px;
	display:none;
	

	li {
		
		float: left;
		text-align: center;
		width: auto;
		text-decoration: none;
		list-style: none;
		color:#fff;
		cursor:pointer;
		margin-left:15px;
		display: inline-block;

		a {
			color: white;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
			background:inherit;
		}

		span {
			margin-left:5px;
		}

		span.included {
			color:green;
		}

		span.not_included {
			color:red;
		}

		span.full {
			color: blue;
		}	

	}

	form {
		float: left;

		input[type="checkbox"] {
			display:inline-block;
		}
	}

	.resize_msg {
		// background: url("icons.png") no-repeat -34px -170px;
		background: url("icons.png") no-repeat -34px -36px;
		width: 25px;
		height: 25px;
		margin-left: 0px;
	}
	.resize_msg:hover {
		background: url("icons.png") no-repeat -34px -117px;
	}

	.resize_msg:active {	
		background: url("icons.png") no-repeat -34px -185px;
	}

	.backward {
		width: 25px;
		height: 25px;
		margin-left: 0px;
		background: url("icons.png") no-repeat -65px -36px;
	}

	.backward:hover {
		background: url("icons.png") no-repeat -65px -117px;
	}

	.backward:active {
		background: url("icons.png") no-repeat -65px -185px;
	}

	.forward {
		width: 25px;
		height: 25px;
		margin-left: 0px;
		background: url("icons.png") no-repeat -92px -36px;
	}

	.forward:hover {
		background: url("icons.png") no-repeat -92px -117px;
	}

	.forward:active {
		background: url("icons.png") no-repeat -92px -185px;
	}

	li a.edit_msg {
		display: block;
		width: 25px;
		height: 25px;
		margin-left: 0px;
		background: url("icons.png") no-repeat -130px -36px;
	}

	li a.edit_msg:hover {
		background: url("icons.png") no-repeat -130px -117px;
	}

	li a.edit_msg:active {
		background: url("icons.png") no-repeat -130px -185px;
	}

	.day_gallery, .week_gallery, .month_gallery, .year_gallery {
		width: 26px;
		height: 41px;
		z-index: 600;
		margin-top: -11px;
		float: left;
		margin-left: 2px;
	}

	.day_gallery {
		// background: url("icons.png") no-repeat -171px -29px;
		background: url("icons.png") no-repeat -171px -23px;
	}

	.day_gallery:hover, .day_included {
		background: url("icons.png") no-repeat -171px -104px;
	}

	.week_gallery {
		
		background: url("icons.png") no-repeat -200px -23px;
	}

	.week_gallery:hover, .week_included {
		background: url("icons.png") no-repeat -200px -104px;
	}

	.month_gallery {
		
		background: url("icons.png") no-repeat -230px -23px;
	}

	.month_gallery:hover, .month_included {
		background: url("icons.png") no-repeat -230px -104px;
	}

	.year_gallery {
		
		background: url("icons.png") no-repeat -260px -23px;
	}

	.year_gallery:hover, .year_included {
		background: url("icons.png") no-repeat -260px -104px;
	}

	li a.image_X {
		display: block;
		width: 25px;
		height: 25px;
		margin-left: -20px;
		background: url("icons.png") no-repeat -290px -36px;
	}

	li a.image_X:hover {
		background: url("icons.png") no-repeat -290px -117px;
	}

	li a.image_X:active {
		background: url("icons.png") no-repeat -290px -185px;
	}

	.range_options {
		position: absolute;
height: 38px;
width: 115px;
background: black;
opacity: .9;
margin-left: 118px;
margin-top: -7px;
	}

	.included {
		color:green;
	}

	.not_included {
		color:red;
	}
}


.drag_msg {
    width:20px; 
    height:20px; 
}

.dimens {
	color:#fff;
}

.nav_btn_style {
	margin-left: 465px;
width: 92px;
height: 53px;
bottom: 89px;

overflow: hidden;
position: fixed;
text-align: center;

font-size: 22px;
color: black;
	
	z-index: 600;
	cursor: pointer;
}

.delete_nav_btn {
	 background: url("tabs.png") no-repeat scroll -11px -249px transparent;
    bottom: 87px;
    height: 53px;
    margin-left: 465px;
    position: fixed;
    width: 100px;
}

.gray_nav_btn {
	background: url("tabs.png") no-repeat scroll -11px -249px transparent;
    bottom: 0;
    height: 53px;
    margin-left: 465px;
    position: fixed;
    width: 100px;
	
}

.time_nav_container { 
	background:url("background-red.png");
	width:100%;
	position:fixed;
	bottom:-4px;
	height:77px;
}


	.time_navigation {
		position:fixed;
		bottom:-4px;
		width:1000px;
		height:77px;
		z-index:9000;
		
	}


ul.thumbnail_images {
	width: 960px;
	margin: -13px 0px;
	
	background: black;
	height: 25px;
	.thumbnail_container {
		float:left;
		margin-left:10px;
		li {
			list-style: none;
		}
	}
} 
ul.dom_container {
	margin-left: 0px;
	border-top: 3px solid red;
	border-bottom: 3px solid red;
	background: black;
	height: 18px;
	padding: 5px 0px 0px 1px;

	a li.days_of_month {
		width: 20px;
		margin-left: 5px;
	}

	a li.clickable_dates {
		border-radius: 50px;
		webkit-border-radius: 50px;
		moz-border-radius: 50px;
		padding: 0px 2px 4px 2px;
		float: left;
		list-style: none;
		text-align: center;
		background: white;
		border: 1px solid black;
		margin-top: -3px;
		cursor: pointer;
		height: 13px;
		color: black;
		font-size: 11px;
	}

	a:hover li.clickable_dates {
		color:#fff;
		background:gray;	
	}

	a li.content_exists {
		background:#3b5998;
	}

	a li.pointer {
		background: $theme_color;
	opacity: .8;
	color: white;
	height: 23px;
	width: 28px;
	margin-top: -8px;
	padding: 5px 2px 0px;
	font-size: 18px;
	font-weight: bold;
	}
	
}
// weeks //
ul.wom_container {
	height: 9px;
	margin-left:-40px;
	margin-top:-10px;

	a li.weeks_of_month {		
		width: 220px;
		margin-left: 0px;	
	}

	a:nth-child(5) li{
		width: 120px;
	}

	a li.clickable_weeks {
		float: left;
		list-style: none;
		text-align: center;
		margin-top: -3px;
		cursor: pointer;
		height: 16px;
font-size: 12px;
background: black;
padding: 0px 0px 0px;
		font-weight: bold;
		color: white;
	}

	a:hover li.clickable_weeks {
		color:#fff;
		background:gray;	
	}
	
	a li.week_pointer {
		background: $theme_color;
	}
}

// months //
ul.moy_container {
	height: 16px;
	background: black;
	margin-top: -9px;

	a li.months_of_year {		
		width: 60px;
		margin-left: 16px;		
	}

	a li.clickable_months {
		padding: 2px;
		float: left;
		list-style: none;
		text-align: center;
		margin-top: -3px;
		cursor: pointer;
		height: 18px;
		color: white;
		font-size:15px;
	}

	a:hover li.clickable_months {
		color:#fff;
		background:gray;	
	}

	a li.month_pointer {
		background: $theme_color;
		height: 16px;
		width: 45px;
		margin-top:0px;
		padding: 0px 2px 0px;
		font-size: 15px;
		font-weight: bold;
	}
}

a li.future_date {	
	opacity: .5;
}



.ui-resizable-se {
cursor: se-resize;
width: 73px;
height: 72px;
right: 3px;
bottom: 3px;
color: red;
background: url("corner.png");
}


.field > input {
    
    border-radius: 5px 5px 5px 5px;
    font-size: 17px;
    height: 26px;
    margin: 5px 0px 10px;
    padding:2px 5px;
    color: #000;
}

.edit_user {
    margin: 30px 0px 30px 85px;   
}


label {
    font-size: 18px;
    color:white;
}

.field {
    background: url("opacity.png") repeat scroll 0 0 transparent;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin-right: 41px;
    padding: 15px;
    width: 351px;
}