// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message_board {
    width:900px;
    margin:10px auto;
    background:#B6B4B4;
    min-height: 30px;
    height:auto; 
    -moz-box-shadow:    1px 1px 5px #ccc;
    -webkit-box-shadow: 1px 1px 5px #ccc;
    box-shadow:         1px 1px 5px #ccc;
}

.profile_container {
    width:300px;
    min-height:300px;
    height:auto;
    float:left;

    ul li {
    list-style: none;
    width:auto;

	}
}



.flag_feed {

    width:690px;
    min-height: 300px;
    height:auto;
    float:left;
}

.img_content_container {
    text-align: center;
    width:190px;
    background:gray;
    margin:auto;
    color:#fff;
    padding:5px;
}

.img_feed_container {
position:absolute;
float:left;
width: 188px;
padding: 15px 20px 13px 9px;
font-size: 11px;
background-color: white;
box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
margin:5px;
list-style: none;

}

.first {
    margin-left:5px;
}

.second {
    margin-left: 250px;

}

.third {
   margin-left:500px;
}

.image_content {
    color:#D4DFF1;
}

.users_header_style {
	text-align: center;
	padding:0px;
	margin:0px;
	height: 20px;
	float:left;
}

ul.users_dash_header {
	position: fixed;
	margin-left: 50px;
	bottom: -13px;
	background: black;
	color: white;
	height: 30px;
	padding: 0px;

	li:nth-child(3), li:nth-child(4){
		width:335px;
		text-align: center;
		padding-top:5px;
		margin:0px;
		height: 20px;
		float:left;
	}

	li:nth-child(4) {
		margin-left:60px;
	}

	li:nth-child(1), li:nth-child(2) {
		width: 60px;
		text-align: center;
		padding-top: 5px;
		
		margin:0px;
		height: 20px;
		float:left;
	}
}

.user_index {

	ul li {
			height:60px;
			width: 950px;
			padding: 15px;
			font-size: 11px;
			margin:5px;
			list-style: none;
	}
}

ul.user_row {
	padding:0px;

	li {
		float:left;
		width:315px;
		margin-left:10px;
		padding: 0px;
	}
	li:nth-child(1) {
		padding: 0px;
		width: 60px;

	}

	li:nth-child(2) {
		width:100px;
		padding: 0px;

	}

	li:nth-child(4) {
		margin: 5px 0px 0px 100px;
	}

	ul.user_items {
	padding:0px;

		li {
			float:left;
			width:50px;
			margin-left:5px;
		}

		a li {
			width:100px;
			height: 10px;
		}

		a img {
			-moz-box-shadow:    0px 0px 5px gray;
			-webkit-box-shadow: 0px 0px 5px gray;
			box-shadow:         0px 0px 5px gray;
			padding:2px;
			border:2px solid #fff;
		}
}

	
}




.odd {
	background: #EBE9E9;
}

.even {
	background: #E0F5FD;
}

.profile_container ul li 
	a {

		margin: 0px;
		img {
		padding:1px;
		border:1px solid gray;
		-moz-box-shadow:    0px 0px 5px #ccc;
		-webkit-box-shadow: 0px 0px 5px #ccc;
		box-shadow:         0px 0px 5px #ccc;

		&:hover {
			text-decoration: none;
			background: inherit;
			border:1px solid #3b5998;
		}
	}
}

