// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$theme_color: rgb(159,21,15);

.message_board {
    width:900px;
    margin:10px auto;
    background:#B6B4B4;
    min-height: 30px;
    height:auto; 
    -moz-box-shadow:    1px 1px 5px #ccc;
    -webkit-box-shadow: 1px 1px 5px #ccc;
    box-shadow:         1px 1px 5px #ccc;
}

.profile_container {
    width:250px;
    min-height:300px;
    height:auto;
    float:left;

    ul {
    	padding:5px;
    	li {
		    list-style: none;
		    width:auto;

		}
	}

}



.flag_feed {

    width:725px;
    min-height: 300px;
    height:auto;
    float:left;

    ul {
    	padding:5px;
    }
}

.img_content_container { 
	height:auto;
    text-align: center;
    width:190px;
    background: #000;
    opacity:.75;
    margin:auto;
    color:#fff;
    padding:5px;

    a div {
    	color:#fff;
    }

    a:hover div {
    	color:#fff;
    }
}


.img_feed_container {
position:absolute;
float:left;
width: 188px;
padding: 15px 20px 13px 9px;
font-size: 11px;
background-color: white;
box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
margin:5px;
list-style: none;

}

.first {
    margin-left:5px;
}

.second {
    margin-left: 250px;

}

.third {
   margin-left:500px;
}

.image_content {
    color:#D4DFF1;
}

.users_header_style {
	text-align: center;
	padding:0px;
	margin:0px;
	height: 20px;
	float:left;
}

ul.users_dash_header {
	position: fixed;
	margin-left: 10px;
	bottom: -13px;
	background: black;
	color: white;
	height: 30px;
	padding: 0px;

	li:nth-child(3), li:nth-child(4){
		width:325px;
		text-align: center;
		padding-top:5px;
		margin:0px;
		height: 20px;
		float:left;
	}

	li:nth-child(3) {
		margin-left:66px;
	}

	li:nth-child(4) {
		margin-left:33px;
	}

	li:nth-child(1), li:nth-child(2) {
		width: 60px;
		text-align: center;
		padding-top: 5px;
		
		margin:0px;
		height: 20px;
		float:left;
	}
}

// winners

.winner_index {
	width: 468px;
border: 1px solid black;
margin-left: 20px;
margin-top: 100px;
min-height: 100px;
height: auto;
padding: -0px;
	ul {
		padding:0px;
		
		li {
			height: 70px;
			
			font-size: 11px;
			margin: 0px;
			list-style: none;
		}
	}
}

.best_week {
	float:left;
}

.best_month {
	float:left;
}





.user_index {
	clear:both;
	padding-top:25px;
	ul {
		padding:0px;
		
		li {
			
			width: 960px;
padding: 8px;
font-size: 11px;
margin: 5px;
list-style: none;
height: 75px;
		}
	}
	
}

.thumb_image {
	-moz-box-shadow:    0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow:         0px 0px 5px #000;
	padding:2px;
	border:2px solid #fff;
	background:#000;
}
.profile_image {
	-moz-box-shadow:    0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow:         0px 0px 5px #000;
	padding:2px;
	border:2px solid #fff;
	background:#000;
}

.member_info {
	position:absolute;
	float:left;
	margin-top:-45px;
	margin-left:5px;
	width:100px;
	height:40px;
	background:white;
	-moz-box-shadow:    0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow:         0px 0px 5px #ccc;
	border-radius: 5px;
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	border:1px solid $theme_color;
	padding:5px;
	display:none;
}

ul.winner_row {
	padding:0px;
	a img {
		float: left;
		width: 50px;
		margin-top: 5px;
		margin: 4px 0px 0px 8px;
	}

	li {
		width: 300px;
		background:#fff;
		margin-left: 75px;
		min-height: 60px;
		margin-top:5px;
		border:1px solid $theme_color;

		ul.winner_gallery {
			a img {
				float: left;
				margin-left: 5px;
			}
		}
	}

	.voting_totals {
		margin-left: 408px;
		width: 15px;
		margin-top: -31px;
		height: 15px;
		padding: 3px;
		position: absolute;
	}

	form {
		width:50px;
		margin-left:-15px;
	}
}

ul.user_row {
	padding:0px;

	a img {
		float: left;
		width: 50px;
		margin-top: 5px;
		margin: 4px 0px 0px 8px;
	}

	li {
		float:left;
		width: 400px;
		
		margin-left: 15px;
		min-height: 50px;
		height:auto;
		margin-top:5px;
		

		ul.user_gallery {
			a img {
				float: left;
				margin-left: 5px;
				margin-top: 0px;
				padding: 0px;
			}
		}
		.chosen {	
			background-color: white;
			border: 3px solid #DFC663;
			height: 66px;
			padding: 5px 0px 0px 5px;
			width: 300px;
			margin-top: -16px;
			box-shadow: 1px 1px 15px;
			margin-left: -1px;
		}
	}
	

	.voting_totals {
		
width: 15px;
margin-top: 2px;
height: 15px;
padding: 3px;
position: absolute;
	}

	.for_week {
		margin-left:444px;
	}

	.for_month {
		margin-left:878px;
	}

	
}

.chosen {	
	background-color: white;
border: 3px solid #DFC663;
height: 66px;
padding: 5px 0px 0px 5px;
width: 300px;
margin-top: -1px;
box-shadow: 1px 1px 15px;
margin-left: -1px;
}

.best_btn {
	position: absolute;
	margin-left: 325px;
	margin-top: 22px;
	font-size: 9px;
}

.voting_totals {
	margin-left: 352px;
width: 15px;
margin-top: -10px;
height: 15px;
padding: 3px;
position: absolute;
}


.odd {
	background: #EBE9E9;
}

.even {
	background: #E0F5FD;
}

.profile_container ul li 
	a {

		margin: 0px;
		img {
		padding:1px;
		border:1px solid gray;
		-moz-box-shadow:    0px 0px 5px #ccc;
		-webkit-box-shadow: 0px 0px 5px #ccc;
		box-shadow:         0px 0px 5px #ccc;

		&:hover {
			text-decoration: none;
			background: inherit;
			border:1px solid #3b5998;
		}
	}
}

