// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$theme_color: rgb(159,21,15);


#learn_more {
    background: none repeat scroll 0 0 #9F150F;
    border-radius: 7px 7px 7px 7px;
    font-size: 12px;
    height: 20px;
    margin-left: 849px;
    padding: 5px;
    position: absolute;
    top: 53px;
    width: 135px;
    z-index: 1000;
	
	a {
		text-decoration:none;
		color:#fff;
		&:hover {
			text-decoration:underline;
		}
	}

}
.message_board {
    width:900px;
    margin:10px auto;
    background:#B6B4B4;
    min-height: 30px;
    height:auto; 
    -moz-box-shadow:    1px 1px 5px #ccc;
    -webkit-box-shadow: 1px 1px 5px #ccc;
    box-shadow:         1px 1px 5px #ccc;
}

.profile_container {
    width:250px;
    min-height:300px;
    height:auto;
    float:left;

    ul {
    	padding:5px;
    	li {
		    list-style: none;
		    width:auto;

		}
	}

}

.flag_feed {

    width:720px;
    min-height: 300px;
    height:auto;
    float:right;

    ul {
    	padding:5px;
    	margin: 0;
    }
}

.img_content_container { 
	height:auto;
    text-align: center;
    width:190px;
    background: #000;
    opacity:.75;
    margin:auto;
    color:#fff;
    padding:5px;

    a div {
    	color:#fff;
    }

    a:hover div {
    	color:#fff;
    }
}


.img_feed_container {
position:absolute;
float:left;
width: 188px;
padding: 15px 20px 13px 9px;
font-size: 11px;
background-color: white;
box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
margin:5px;
list-style: none;

}

.first {
    margin-left:5px;
}

.second {
    margin-left: 250px;

}

.third {
   margin-left:500px;
}

.image_content {
    height:auto;
	background: #000;
	opacity:.75;
	position: absolute;
	z-index: 100;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left:10px;
	color:#fff;
	border: 2px solid #5F5A5A;
	font-size:10px;
	display:none;

	li {
		text-align: center;
		list-style: none;

	}  
}

.users_header_style {
	text-align: center;
	padding:0px;
	margin:0px;
	height: 20px;
	float:left;
}

ul.users_dash_header {
	position: fixed;
	margin-left: 10px;
	bottom: -13px;
	background: black;
	color: white;
	height: 30px;
	padding: 0px;

	li:nth-child(3), li:nth-child(4){
		width:325px;
		text-align: center;
		padding-top:5px;
		margin:0px;
		height: 20px;
		float:left;
	}

	li:nth-child(3) {
		margin-left:66px;
	}

	li:nth-child(4) {
		margin-left:33px;
	}

	li:nth-child(1), li:nth-child(2) {
		width: 60px;
		text-align: center;
		padding-top: 5px;
		
		margin:0px;
		height: 20px;
		float:left;
	}
}

// winners

.winner_index {
	width: 468px;
	border: 1px solid black;
	margin-left: 20px;
	margin-top: 65px;
	min-height: 100px;
	height: auto;
	padding: -0px;
	float: left;
    background: url("opacity.png") repeat scroll 0 0 transparent;
    border-radius: 10px;
    webkit-border-radius: 10px;
    moz-border-radius: 10px;

    h2 {
    	color:#fff;
    	text-align: center;
    }
	ul {
		padding:0px;
		
		li {
			height: 70px;
			
			font-size: 11px;
			margin: 0px;
			list-style: none;
		}
	}
}

.best_week {
	
}

.best_month {
	
}


.user_index {
	clear:both;
	padding-top:25px;
	ul {
		padding:0px;
		
		li {
			
			width: 960px;
			padding: 8px;
			font-size: 11px;
			margin: 5px;
			list-style: none;
			height: 75px;
			border-radius: 10px;
			webkit-border-radius: 10px;
			moz-border-radius: 10px;
		}
	}
	
}

.thumb_image {
	-moz-box-shadow:    0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow:         0px 0px 5px #000;
	padding:2px;
	border:2px solid #fff;
	background:#000;
}
.profile_image {
	-moz-box-shadow:    0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow:         0px 0px 5px #000;
	padding:2px;
	border:2px solid #fff;
	background:#000;
}

.member_info {
	position:absolute;
	float:left;
	margin-top:-45px;
	margin-left:5px;
	width:100px;
	height:40px;
	background:white;
	-moz-box-shadow:    0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow:         0px 0px 5px #ccc;
	border-radius: 5px;
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	border:1px solid $theme_color;
	padding:5px;
	display:none;
}

ul.winner_row {
	padding:0px;
	a img {
		float: left;
		width: 50px;
		margin-top: 5px;
		margin: 4px 0px 0px 8px;
	}

	li {
		width: 300px;
		background:#fff;
		margin-left: 75px;
		min-height: 60px;
		margin-top:5px;
		border:1px solid $theme_color;

		ul.winner_gallery {
			a img {
				float: left;
				margin-left: 5px;
			}
		}
	}

	.voting_totals {
		margin-left: 408px;
		width: 15px;
		margin-top: -31px;
		height: 15px;
		padding: 3px;
		position: absolute;
		color:#fff;
	}

	form {
		width:50px;
		margin-left:-15px;
	}
}

ul.user_row {
	padding:0px;

	a img {
		float: left;
		width: 50px;
		margin-top: 5px;
		margin: 4px 0px 0px 8px;
	}

	li {
		float:left;
		width: 400px;
		
		margin-left: 15px;
		min-height: 50px;
		height:auto;
		margin-top:5px;
		

		ul.user_gallery {
			a img {
				float: left;
				margin-left: 5px;
				margin-top: 0px;
				padding: 0px;
			}
		}
		.chosen {	
			background-color: white;
			border: 3px solid #DFC663;
			height: 66px;
			padding: 5px 0px 0px 5px;
			width: 300px;
			margin-top: -16px;
			box-shadow: 1px 1px 15px;
			margin-left: -1px;
		}
	}
	

	.voting_totals {
		
width: 15px;
margin-top: 2px;
height: 15px;
padding: 3px;
position: absolute;
color:#fff;
	}

	.for_week {
		margin-left:444px;
	}

	.for_month {
		margin-left:878px;
	}

	
}

.chosen {	
	background-color: white;
border: 3px solid #DFC663;
height: 66px;
padding: 5px 0px 0px 5px;
width: 300px;
margin-top: -1px;
box-shadow: 1px 1px 15px;
margin-left: -1px;
}

.best_btn {
	position: absolute;
	margin-left: 325px;
	margin-top: 22px;
	font-size: 9px;
}

.voting_totals {
	margin-left: 352px;
width: 15px;
margin-top: -10px;
height: 15px;
padding: 3px;
position: absolute;
}


.odd {
	background: url("opacity.png") repeat scroll 0 0 transparent;

}

.even {
	
}

.profile_container {

    float: left;
    height: auto;
    margin-left: -60px;
    margin-top: 20px;
    min-height: 300px;
    width: 250px;
    overflow: hidden;
	ul {

		li  {

		font-size: 14px;
	    font-weight: bold;
	    list-style: none outside none;
	    margin: 10px;
	    width: auto;
		}

	}
}

// cut from head of Rod's doc


.sidebar {
	width:250px;
	min-height:100px;
	border-radius: 5px;
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	margin-top:0px;
	clear:both;
	float: left;
	margin-right: 0px;
}

.sidbar_tables {
	box-shadow: 0px 0px 5px;
	width:223px;
	margin:10px auto;
	padding:10px;
	background:#fff;
	border-radius: 5px;
	a:hover {
		color: #9F150F;
	}
}

.sidbar_tables h2 {
	border:none;
	margin: 0 0 10px;
	padding-top: 2px;
	text-align: center;
}

ul.table_header {
	margin: 0px;
	padding: 0px;
	height: 45px;
}

ul.table_header li {
	float: left;
	width: 60px;
	list-style: none;
	font-size: 12px;
	text-align: center;
	padding: 0px;
}

.item {
	border-radius: 5px;
	box-shadow: 0px 0px 2px inset;
	padding: 10px;
	margin:10px 0px;
}

ul.table_row {
	margin: 0px;
	padding: 0px;
	height: 45px;
	clear:both;
}

ul.table_row li {
	float: left;
	width: 100%;
	list-style: none;
	font-size: 12px;
	padding: 0px;

}

.title {
	font-weight: bold;
}

.message {
	clear: both;
}


// coordinators index page

.coordinators {
	width:900px;
	clear:both;
	height: auto;
	ul {
		padding:0px;
		margin:0px;

	}
}

.coordinator {
	width: 900px;
	margin:auto;
	height:100px;
	list-style:none;
	clear: both;
	ul {
		padding:0px;
		margin:0px;

		.coordinator_image {
			padding:10px;
			img{
				border: 2px solid gray;
    			border-radius: 5px 5px 5px 5px;
			}
		}

		.coordinator_attributes {
			width:800px;
			margin-top:25px;
			float:left;

			li {
				float: left;
				width: 175px;
				margin-left: 15px;
				list-style: none;
				color: black;
				font-size: 20px;
			}
		}

	}

}


.coordinator ul li.message_to_coordinator {
	float: right;
	width: 400px;
	a{
		background-color: #9F150F;
	    border-radius: 10px 10px 10px 10px;
	    color: white;
	    font-size: 14px;
	    padding: 20px;
	    text-decoration: none;
		&:hover{
			box-shadow: 0px 0px 5px black;
		}
		&:active{
			box-shadow: 0px 0px 7px black;
		}
	}
}

// mailer form for coordinator page

#mailer_form {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px #CCCCCC;
    -moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
    margin: 100px 20px;
    min-height: 200px;
    padding: 20px;
    position: absolute;
    width: 880px;
    z-index: 500;
}

